.App {
  color: #FFFFFF;
  direction: rtl;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #F4D3C8;
  min-height: '-webkit-fill-available';
  height: 100%;
  font-family: 'Secular One', sans-serif;
  /* border: 10px dotted rgb(104, 48, 48); */
  /* padding: 10%; */
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  margin: 2% 5% 5%;
  /* position: fixed; */
  border-radius: 50% 50% 50% 50% / 5% 5% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
  padding: 3%;
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2.8;
  padding-top: 3vh;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 0;

}

.Content {
  flex: 8;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.name-form {
    margin: 1vh 4vw;
    /* flex-direction: column; */
    display: flex;
    align-items: center;
    justify-content: center;
}


